.service {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fdfce56b;
    text-align: center;
    transition: 0.7s;
}

.service:hover {
    background-color: #FDFCE5;
    transform: scale(1.05);
}