@media only screen and (max-width:991px) {
    .contact-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-form {
        margin-top: 30px;
    }
}

@media only screen and (min-width:992px) {
    .contact-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.contact-container img {
    height: 600px;
}

.message textarea {
    height: 150px !important;
}

.submit-button {
    width: 100px;
}