.profile-card {
    position: relative;
}

.edit-profile-button {
    position: absolute;
    right: 10px;
}

.profile-card p {
    margin: 10px 10px 10px 10px;
    font-size: 20px;
    word-break: break-all;
}

.profile-picture {
    display: flex;
    justify-content: center;
}

.profile-picture img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

/* responsive */
@media only screen and (max-width:767px) {
    .my-profile-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .profile-card {
        margin-bottom: 40px;
    }
}

@media only screen and (min-width:768px) {
    .my-profile-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}