.app {
  font-family: "Roboto Serif", serif;
  background-color: #f8fcfb;
  overflow-x: hidden;
}

.common-hover-effect {
  background-color: #fdfce56b;
  transition: 0.7s;
}

.common-hover-effect:hover {
  background-color: #fdfce5;
  transform: scale(1.05);
}

.second-font {
  font-family: "Old Standard TT", serif;
}

/*----Remove Arrows/Spinners----*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* button */
button {
  transition: 0.7s !important;
}
