.review textarea {
  height: 150px !important;
}

/* responsive */
@media only screen and (max-width: 768px) {
  .review-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
}

@media only screen and (min-width: 769px) {
  .review-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
}
